<div class="designer-container">
  <div class="row">
    <app-designer-list 
      [listName]="'Cardio' "
      [exerciseList]="cardioExercises"
      [listType]="1">
    </app-designer-list>
    <app-designer-list 
      [listName]="'Machines' "
      [exerciseList]="machineExercises"
      [listType]="2">
    </app-designer-list>
    <app-designer-list 
      [listName]="'Body' "
      [exerciseList]="bodyExercises"
      [listType]="3">
    </app-designer-list>
  </div>
  <hr>
  <div *ngIf="resultExercises.length > 0; else noResultsMessage">
    <div class="row">
      <div class="col-xs-12">
        <h3>Routine</h3>
        <div style="overflow-y:auto; max-height: 400px;" id="custom-scroll-style">
          <app-result-item
            *ngFor="let exerciseEl of resultExercises"
            [exercise]="exerciseEl"></app-result-item>
        </div>
      </div>
    </div>
    <div class="row">
      <span class="pull-right">
        <h4>Difficulty average: {{difficultyAverage | roundNumber}}</h4>
      </span>
    </div>
    <div class="row">
      <div class="col-xs-offset-4">
        <button class="btn btn-success" (click)="onSaveRoutine()">Save routine</button>
        <button class="btn btn-danger" (click)="onResetRoutine()">Reset routine</button>
      </div>
    </div>
  </div>
  <ng-template #noResultsMessage>
    <div class="row">
      <h3>Select exercises from the lists</h3>
    </div>
  </ng-template>  
</div>
