<div class="container">
  <div>
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            <img src="../../assets/become_logo.png" class="img-responsive center-block" style="max-height: 200px; margin-bottom: 20px;">
            <form (ngSubmit)="onSigninWithIds(f)" #f="ngForm">
              <div class="form-group">
                <label for="mail">Mail</label>
                <input type="text" id="mail" name="mail" class="form-control" ngModel required email>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control" ngModel required>
              </div>
              <div class="pull-right">
                <button class="btn btn-primary" type="submit">Log in with IDS</button>
              </div>        
            </form>
          </div>
        </div>
      </div>      
  </div>
</div>
