<div class="row">
  <h2 style="display: inline-block;">{{ routine.name }} </h2>
  <h2 style="display: inline-block;" appDifficultyColor>({{ average | roundNumber }})</h2>
  <div class="row">
    <div class="col-xs-12">
      <mat-chip-list>
        <mat-chip #item
        *ngFor="let exercise of routine.exercises" 
        color="primary" 
        selected="false"
        style="cursor: pointer; margin-bottom: 4px;"
        routerLink="{{exercise.id}}"
        (click)="onItemSelected(item)">
          <h5 style="display: inline-block;">{{ exercise.name }}</h5>
          <h5 style="display: inline-block;" appDifficultyColor>({{ exercise.difficulty }})</h5>
        </mat-chip>    
      </mat-chip-list>
    </div>
  </div>
  <div class="row remove-routine">
    <div class="col-xs-12">
      <button class="btn btn-danger" (click)="onRemoveRoutineClicked()">Remove routine</button>
    </div>
  </div>
  <hr>
</div>
