<h2 mat-dialog-title>Warning!</h2>

<div class="row">
  <div class="col-xs-12">
    <mat-dialog-content>
      <div class="row">
        <div class="col-sm5 form-group">
          <label for="name">The session is going to expire</label>
        </div>          
      </div>
      <mat-progress-bar
          class="example-margin"
          color="primary"
          mode="determinate"
          [value]="value">
      </mat-progress-bar>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button class="btn btn-success" (click)="onAccept()" mat-dialog-close>Renew</button>
    </mat-dialog-actions>

  </div>
</div>
