<h2 md-dialog-title>Warning!</h2>

<div class="row">
  <div class="col-xs-12">
    <md-dialog-content>
      <div class="row">
        <div class="col-sm5 form-group">
          <label for="name">The session is going to expire</label>
        </div>          
      </div>
      <md-progress-bar
          class="example-margin"
          color="primary"
          mode="determinate"
          [value]="value">
      </md-progress-bar>
    </md-dialog-content>
    <md-dialog-actions>
      <button class="btn btn-success" (click)="onAccept()" md-dialog-close>Renew</button>
    </md-dialog-actions>

  </div>
</div>
