<h2 mat-dialog-title>Add a new exercise</h2>

<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <mat-dialog-content>
        <div class="row">
          <div class="col-sm5 form-group">
            <label for="name">Exercise name</label>
            <input autocomplete="off" type="text" name="name" id="name" class="form-control" ngModel required>
          </div>          
        </div>
        <div class="row">
          <div class="col-sm5 form-group">
            <label for="difficulty">Difficulty</label>
            <input autocomplete="off" type="number" name="difficulty" id="difficulty" class="form-control" ngModel required appDifficultyValidation>
          </div>          
        </div>
        <div class="row">
          <div class="col-sm5 form-group">
            <label for="exampleLink">Example link</label>
            <input autocomplete="off" type="text" name="exampleLink" id="exampleLink" class="form-control" ngModel required>
          </div>          
        </div>
      </mat-dialog-content>
      <mat-dialog-actions>
        <button [disabled]="!f.valid" type="submit" style="margin-right: 3px;" class="btn btn-success">Save</button>
        <button mat-dialog-close class="btn btn-danger">Cancel</button>
      </mat-dialog-actions>
    </form>
  </div>
</div>


